header.mastheadR1 {
  position: relative;
  background-color: #343a40;
  background: url("../img/R1.png") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}